* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    height: 100%;
    width: 100%;

    /*overflow: hidden;*/
}

#main-container {
    width: 100%;
    height: 100%;

    display: block;
}

div.uav-video, div.uav-map {
    width: 50%;
    height: 50%;
    float: left;
    /*position: relative;*/
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    background: #343A40;
}

div.uav-video > video,
div.uav-video > img,
div#map {
    width: 100%;
    height: 100%;
}

.video-magnified {
    position: absolute;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: 9;
    background-size: cover;
    padding-right: 48px;
    padding-bottom: 48px;
    overflow: hidden;
}

#logo {
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 9;
}

.btn-division {
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}